<div class="jumbotron">
  <div class="insidejumbo">
    <h1>PhotoSchmoto</h1>

    <% if current_user %>
      <%= "Welcome " %>
      <%= link_to "My Galleries", galleries_path, class: "btn btn-danger btn-lg"  %>
    <% else %>
      <%= simple_format "A gallery with, you know... photos" %>
      <%= link_to "Login", login_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

  <h2>Our Galleries</h2>
