<div class="jumbotron">
  <div class="insidejumbo">
    <h1>PhotoSchmoto</h1>

    <% if current_user %>
      <h2>
        <%= "Welcome #{current_user.username}" %>
      </h2>
    <% else %>
      <%= simple_format "A gallery with, you know... photos" %>
      <%= link_to "Login", login_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<div class="row">
    <% if current_user %>
      <h2 class="text-center">Your Galleries</h2>
      <% current_user.galleries.each do |gallery| %>
      <div class="row">
        <div class="col-md-offset-1 col-md-4">
          <% if gallery.pictures.any? %>
            <h4><%= link_to gallery.name, gallery %></h4>
            <%= link_to gallery do %>
              <%= image_tag gallery.pictures.last.url.versions[:thumbnail] %>
              <% end %>
          <% else %>
            <h4> <%= link_to gallery.name, gallery %> </h4>
          <% end %>
          <p>Created at: <%= gallery.created_at.strftime("%A %b. %e %Y %I:%M %p") %></p>
          <%= button_to "Delete", gallery, method: :delete, class: "btn btn-danger btn-lg" %>
        </div>
    </div>
      <% end %>
    <% else %>
      <h2 class="text-center">Galleries</h2>
      <% @galleries.each do |gallery| %>
        <div class="row">
          <div class ="col-md-offset-1 col-md-4">
            <% if gallery.pictures.any? %>
              <h4><%= link_to gallery.name, gallery %></h4>
              <%= link_to gallery do %>
              <%= image_tag gallery.pictures.last.url.versions[:thumbnail] %>
              <% end %>
              <p>Created at: <%= gallery.created_at.strftime("%A %b. %e %Y %I:%M %p") %></p>

            <% else %>
              <h4> <%= link_to gallery.name, gallery %> </h4>
            <% end %>
          </div>
        </div>
        <% end %>
<% end %>
