<% if @picture.errors.any? %>
  <div class="bg-danger col-xs-12">
    <ul class="list-unstyled">
      <% @picture.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [@gallery, @picture] do |f| %>

  <%= f.file_field :url %>
  <%= f.input :caption, as: :text %>

  <%= f.button :submit, class: "btn btn-primary"%>

<% end %>
