<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSchmoto</title>
    <%= favicon_link_tag 'photo-camera.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "photoschmoto.svg", class: "img-responsive" %>
      <% end %>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Login!", login_path %>
        </li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>


  <body>
    <% if flash.any? %>
      <% flash.each do |klass, message| %>
        <div class="alert alert-<%= klass %>" role="alert">
          <p>
            <%= message %>
          </p>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>




</html>
